/* For Chrome, Safari, and Edge */
::-webkit-scrollbar {
    width: 4px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #1e1e1e;  /* Track background */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll handle (thumb) */
    border-radius: 10px; /* Make the scroll handle rounded */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color when hovering over the scroll handle */
}
/*
body {
    --background-color: #1e1e1e;
    --text-color: #fff;
    --line-color: #fff;
    --button-background-color: #1669D3;
    --button-hover-color: #1669D3;
    --table-header-bg: #2C3E50;
    --table-row-bg: rgba(255, 255, 255, 0.1);
    --table-row-hover-bg: #333;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    transition: background-color 0.5s ease, color 0.5s ease;
    overflow: hidden;
}
*/

/* Define default colors for dark mode */
:root {
    --background-color: #1e1e1e;
    --text-color: #fff;
    --line-color: #fff; /* Change line color in light mode */
    --button-background-color: #1669D3;
    --button-hover-color: #1669D3;
    --table-header-bg: #2C3E50;
    --table-row-bg: rgba(255, 255, 255, 0.1);
    --table-row-hover-bg: #333;
}
/* Light mode styles */
body.light-mode {
    --background-color: #f5f5f5;
    --text-color: #000;
    --line-color: #1F618D;
    --button-background-color: #1669D3;
    --button-hover-color: #1F618D;
    --table-header-bg: #4CAF50;
    --table-row-bg: rgba(199, 245, 245, 0.25);
    --table-row-hover-bg: #ddd;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 200vh;
    overflow: hidden;  /* Prevent body scroll */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}    
.background {
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/background.png') no-repeat center center;
    /*background-size: cover;*/
    background-size: contain; /* Ensures the image fits within the viewport */
    opacity: 0.08;  /* 10% opacity */
    z-index: -1;
}
.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}
.header-content {
    position: sticky; /* Make the header sticky */
    top: 0; /* Set top position for sticky behavior */
    background-color: var(--background-color); /* Ensure the background stays the same */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    z-index: 10; /* Ensure it appears above other content */
}
.line {
    position: sticky; /* Make the line sticky */
    top: 40px; /* Adjust according to the header height */
    width: 100%;
    height: 2px;
    background-color: #1669D3;
    margin: 0;
    z-index: 10; /* Ensure it appears above other content */
}
.logo {
    width: 35px;
    margin-right: 10px;
}
/*.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 55px; 
} */
/* .head-image {
    position: absolute;
    top: 10px;
    right: 175px;
    width: 70px;
    opacity:0.45;
    box-shadow: 2px 5px 8px rgba(255, 255, 255, 0.6);
}
.head-text {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 20px;
    color:#1F618D;
    width: 160px;
    word-wrap: break-word;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3); 
} 
*/
.nav-links {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    z-index: 10;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    /* color: #fff; */
    color: var(--text-color);
    font-size: 16px;
    z-index: 20;
}

.nav-links a:hover {
    text-decoration: underline;
}
/* Active link style */
.nav-links a.active {
    font-weight: bold;
    text-decoration: underline;
    color: #4CAF50; /* Highlight color */
}
/* Form styling */
.form-container {
    position: absolute;
    right: 50px;
    top: 1px;
    right: 10px;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    z-index: 20; /* Ensure it's above the background */
}
.form-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 200px;
    border-radius: 6px;
    box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.5);
}
.form-container input[type="submit"] {
    padding: 4px 5px;
    font-size: 16px;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--button-background-color); /* Change submit button background in dark mode */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.form-container input[type="submit"]:hover {
    background-color: var(--button-hover-color);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 1px;
    display: none;  /* Initially hidden */
}
/* Scrollable content below the header */
.content-container {
    flex: 1;  /* Take up the remaining space below the header */
    overflow-y: auto; /* Enable vertical scroll for content */
    padding: 20px;
}
.table-container {
    /* margin-top: 180px; */ /* Adjusted margin to ensure table is positioned below the form */
    max-height: 120vh; /* Set the maximum height of the scrollable area */
    overflow-y: scroll;  /* Enable vertical scroll */
    width: 99%; /* Table takes 90% width */
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}
th {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
td {
    padding: 5px;
    border: 1px solid white;
    /*background-color: rgba(199, 245, 245, 0.25);*/
    background-color: var(--table-row-bg);
}
tr:nth-child(even) {
   /* background-color: #f2f2f2; */
    background-color: var(--table-row-bg);
}
tr:hover {
    /* background-color: #ddd; */
    background-color: var(--table-row-hover-bg);
}
tr:nth-child(2) {
    background-color: #ADD8E6; /* Light blue color */
    color: #000; 
    /*color: var(--text-color);*/ /* Ensure form text color changes */
}
.results-heading {
    margin-top: 50px;
    /* margin-bottom: 8px; */
    text-align: left;  /* Align text to the left */
    width: 100%;       /* Ensure it takes the full width */
    padding-left: 10px; /* Optional: Add some left padding for spacing */
    color: #0970b5;
}
.theme-toggle {
    position: absolute;
    top: 70px;
    right: 220px;
    background-color: var(--button-background-color);
    /* color: white; */
    color: var(--text-color);
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.theme-toggle:hover {
    background-color: var(--button-hover-color);
}
/* Style the small search form next to the theme toggle button */
.small-search-form {
    position: absolute;
    top: 70px;
    right: 10px; /* Position it to the right of the toggle button */
    display: flex;
    align-items: center; /* Vertically align the input and button */
}

.small-search-form input[type="text"] {
    height: 25px;
    padding: 2px;
    font-size: 12px;
    width: 100px;
    border-radius: 6px;
    /* box-shadow: 2px 4px 6px rgba(255, 255, 255, 0.5); */
    border: 1px solid #ccc;
}

.small-search-form button {
    height: 25px;
    padding: 0px 10px;
    font-size: 10px;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--button-background-color);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

.small-search-form button:hover {
    background-color: var(--button-hover-color);
}